.app {
    width: 100%;
    height: 100%;

    &__logo {
        color: aliceblue;
        font-size: 16px;
        font-weight: bold;

        &:hover {
            color: tomato;
        }
    }

    &__header {
        box-shadow: 0 0 3px #000;
        height: 32px;
        line-height: 32px;
        padding: 0 32px;
        position: relative;
        z-index: 10;
    }
    
    &__content {
        position: relative;
    }
}

.common {
    &__tips-wrapper {
        padding: 60px 0;
        text-align: center;
    }

    &__tr {
        text-align: right;
    }

    &__tl {
        text-align: left;
    }

    &__tc {
        text-align: center;
    }

    &__mt12 {
        margin-top: 12px;
    }

    &__ml12 {
        margin-left: 12px;
    }

    &__mr12 {
        margin-right: 12px;
    }
}
